{% load static %}

<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.dropotron.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery.slidertron.min.js' %}"></script>
<script src="{% static 'assets/js/skel.min.js' %}"></script>
<script src="{% static 'assets/js/skel-layers.min.js' %}"></script>
<script src="{% static 'assets/js/init.js' %}"></script>

<!-- jQuery Mask -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.js"></script>