<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% include 'snippets/css.html' %}
        <title>{{ titulo }}{% block titulo %}Universidade Aberta do Brasil (UAB){% endblock %}</title>
    </head>
    {% url 'inicio' as inicio_url %}
    {% url 'login' as login_url %}
    {% url 'logout' as logout_url %}
    {% url 'meus_dados' as meus_dados_url %}
    {% url 'minha_inscricao' as minha_inscricao_url %}
    {% url 'comprovante_inscricao' as comprovante_inscricao_url %}
    <body>
        <div class="navbar" style="background-color: #0d0f10;">
            <div class="container">
                <h1 class="display-4" style="color: #FFF;">Processo Seletivo - UAB</h1>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item {% if inicio_url == request.path %}active{% endif %}">
                            <a class="nav-link" href="{{ inicio_url }}">Início<span class="sr-only">(current)</span></a>
                        </li>
                        {% if request.user.is_authenticated %}
                            <li class="nav-item {% if minha_inscricao_url == request.path %}active{% endif %}">
                                <a class="nav-link" href="{{ minha_inscricao_url }}"> Minha Inscrição</a>
                            </li>
                            <li class="nav-item {% if meus_dados_url == request.path %}active{% endif %}">
                                <a class="nav-link" href="{{ meus_dados_url }}">Meus dados</a>
                            </li>
                            <li class="nav-item {% if comprovante_inscricao_url == request.path %}active{% endif %}">
                                <a class="nav-link" href="{{ comprovante_inscricao_url }}">Comprovante de Inscrição</a>
                            </li>
                        {% endif %}
                    </ul>
                    <ul class="navbar-nav ">
                        {% if request.user.is_authenticated %}
                            <li class="nav-item {% if logout_url == request.path %}active{% endif %}">
                                <a class="nav-link" href="{{ logout_url }}">Logout</a>
                            </li>
                        {% else %}
                            <li class="nav-item {% if login_url == request.path %}active{% endif %}">
                                <a class="nav-link" href="{{ login_url }}">Login</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
        {% include 'snippets/js.html' %}
        {% block js %}{% endblock %}
    </body>
</html>