{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <h1>Informações Pessoais</h1>
    <hr/>
    <div class="form-row">
        {% for perfil in form_perfil %}
            <div class="form-group
            {% if forloop.counter == 2 %}col-6
            {% elif forloop.counter == 3 %}col-2
            {% else %}col-4{% endif %}">
                <label for="{{ perfil.name }}">
                    {{ perfil.label }}
                </label>
                {% if perfil.errors %}
                    {{ perfil|add_class:"is-invalid" }}
                    <div class="invalid-feedback">
                        {% for error in perfil.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% else %}
                    {{  perfil }}
                {% endif %}
            </div>
        {% endfor %}
        {% for usuario in form_usuario %}
            <div class="form-group col-4">
                <label for="{{ usuario.name }}">
                    {{ usuario.label }}
                </label>
                {% if usuario.errors %}
                    {{ usuario|add_class:"is-invalid" }}
                    <div class="invalid-feedback">
                        {% for error in usuario.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% else %}
                    {{  usuario }}
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <h1>Endereço</h1>
    <hr/>
    <div class="form-row">
        {% for endereco in form_endereco %}
            <div class="form-group
                {% if forloop.counter == 2 %}col-6
                {% elif forloop.counter == 3 %}col-2
                {% else %}col-4{% endif %}">
                <label for="{{ endereco.name }}">
                    {{ endereco.label }}
                </label>
                {% if endereco.errors %}
                    {{ endereco|add_class:"is-invalid" }}
                    <div class="invalid-feedback">
                        {% for error in endereco.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% else %}
                    {{  endereco }}
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <h1>Inscrição</h1>
    <hr/>
    <div class="form-row">
        {% for inscricao in form_inscricao %}
            {% if forloop.last %}
                {{  inscricao }}
            {% else %}
                <div class="form-group col-6">
                    <label for="{{ inscricao.name }}">
                        {{ inscricao.label }}
                    </label>
                    {% if inscricao.errors %}
                        {{ inscricao|add_class:"is-invalid" }}
                        <div class="invalid-feedback">
                            {% for error in inscricao.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{  inscricao }}
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary">Inscrever</button>
</form>
{% endblock %}


{% block js %}
    <!--Script Costumizado-->
    <script>
        $(document).ready(function(){
            $('#id_curso').html('<option>---------</option>')

            // Máscaras
            $('.cep').mask('00000-000');
            $('.cpf').mask('000.000.000-00', {reverse: true});
            $('.celular').mask('(00) 00000-0000');
            $('.data').mask("00/00/0000", {placeholder: "__/__/____"});

            // Busca CEP
            $("#id_cep").change(function(){
                $.ajax({
                    dataType: "json",
                    url: 'https://viacep.com.br/ws/' + $(this).val() + '/json/',
                    success: function(data){
                        $("#id_rua").val(data.logradouro);
                        $("#id_bairro").val(data.bairro);
                        $("#id_cidade").val(data.localidade);
                        $("#id_estado").val(data.uf);
                    }
                });
            });

            // Pegar csrftoken
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getCookie('csrftoken');

            // Altera Curso
            $("#id_cidade_curso").change(function(){
                $.ajax({
                    dataType: "json",
                    url: 'get_cursos/' + $(this).val(),
                    method: "POST",
                    data: {
                        csrfmiddlewaretoken: csrftoken
                    },
                    success: function(data){
                        var text = ''
                        var i;
                        for (i in data){
                            text = text + '<option value="' + data[i].id + '">' + data[i].curso + '</option>'
                        }
                        $('#id_curso').html(text)
                        $("#curso_hidden").val(data[0].id)
                    }
                });
            });

            $("#id_curso").change(function(){
                $("#curso_hidden").val($(this).val())
            });

            // Busca Curso Selecionado
            $("#curso_hidden").ready(function(){
                if ($("#curso_hidden").val() != ""){
                    $.ajax({
                        dataType: "json",
                        url: 'get_curso/' + $("#curso_hidden").val(),
                        method: "POST",
                        data: {
                            csrfmiddlewaretoken: csrftoken
                        },
                        success: function(data){
                            text = '<option value="' + data[0].id + '">' + data[0].curso + '</option>'
                            $('#id_curso').html(text)
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}