{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <h1>Dados Pessoais</h1>
    <hr/>
    <div class="form-row">
        {% for socio in socio_form %}
            {% if forloop.counter == 3 %}
                </div>
                <h1>Questionários de Avaliação</h1>
                <hr/>
                <div class="form-row">
            {% endif %}
            <div class="form-group col-12">
                <label for="{{ socio.name }}">
                    {{ socio.label }}
                </label>
                {% if forloop.counter > 2 %}
                    {% if socio.errors %}
                        {% for choice in socio %}
                            <div class="col-12">
                                <div class="form-check">
                                    {{ choice.tag }}
                                    <label class="form-check-label" for="{{ choice.data.name }}">
                                        {{ choice.data.label }}
                                    </label>
                                </div>
                            </div>
                        {% endfor %}
                        <div class="alert alert-danger" role="alert">
                            <strong>
                                {% for error in socio.errors %}
                                    {{ error }}
                                {% endfor %}
                            </strong>
                        </div>
                    {% else %}
                        {% for choice in socio %}
                            <div class="col-12">
                                <div class="form-check">
                                    {{ choice.tag }}
                                    <label class="form-check-label" for="{{ choice.data.name }}">
                                        {{ choice.data.label }}
                                    </label>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% else %}
                    {% if socio.errors %}
                        {{ socio|add_class:"is-invalid" }}
                        <div class="invalid-feedback">
                            {% for error in socio.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ socio }}
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary">Inscrever no Socioeconômico</button>
</form>
{% endblock %}
