{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    <header>
        <h2>Dados Pessoais</h2>
        <hr/>
    </header>
    <div class="row">
        {% for socio in socio_form %}
            {% if forloop.counter == 3 %}
                </div>
                <br/>
                <header>
                    <h2>Questionários de Avaliação</h2>
                    <hr/>
                </header>
                <div class="row">
            {% endif %}
            <div class="form-group col-12 12u">
                <label for="{{ socio.name }}">
                    {{ socio.label }}
                </label>
                {% if forloop.counter > 2 %}
                    {% if socio.errors %}
                        {% for choice in socio %}
                            {{ choice }}
                            <!--<div class="col-12 12u">-->
                                <!--<div class="form-check">-->
                                    <!--{{ choice.tag }}-->
                                    <!--<label class="form-check-label" for="{{ choice.data.name }}">-->
                                        <!--{{ choice.data.label }}-->
                                    <!--</label>-->
                                <!--</div>-->
                            <!--</div>-->
                        {% endfor %}
                        <div class="alert alert-danger" role="alert">
                            <strong style="color:red;">
                                {% for error in socio.errors %}
                                    {{ error }}
                                {% endfor %}
                            </strong>
                        </div>
                    {% else %}
                        {% for choice in socio %}
                            {{ choice }}
                            <!--<div class="col-12 12u">-->
                                <!--<div class="form-check">-->
                                    <!--{{ choice.tag }}-->
                                    <!--<label class="form-check-label" for="{{ choice.data.name }}">-->
                                        <!--{{ choice.data.label }}-->
                                    <!--</label>-->
                                <!--</div>-->
                            <!--</div>-->
                        {% endfor %}
                    {% endif %}
                {% else %}
                    {% if socio.errors %}
                        {{ socio|add_class:"is-invalid" }}
                        <div class="invalid-feedback" style="color:red;">
                            {% for error in socio.errors %}
                                {{ error }}
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ socio }}
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <button type="submit" class="btn btn-primary button">Inscrever no Socioeconômico</button>
</form>
{% endblock %}
